@model List<MO.BudgetMaster.VettingSaveVM>

<a href="/Budget/VettedQuestions?GauravId=1"
   class="btn btn-primary">
    Vetted Entries
</a>

<input type="hidden" id="GauravId"
       value="@(Model?.FirstOrDefault()?.GauravId)">

<table class="table table-bordered">
    <thead>
        <tr>  <th colspan="5" class="text-center"> All Entries After Department Vetting </th></tr>
        <tr>
            <th>#</th>
            <th>गतिविधि</th>
            <th>गतिविधि नाम</th>
            <th>स्वीकृत बजट</th>
            <th>कार्यवाही</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {

            int i = 1;
            foreach (var row in Model)
            {
                <tr>
                    <input type="hidden" class="GauravId" value="@row.GauravId">
                    <td>@i</td>
                    <td>@row.Activity</td>
                    <td>@row.ActivityName</td>
                    <td>@row.Budget</td>
                    <td>
                        <button class="btn btn-sm btn-primary edit-btn"
                                data-rowid="@row.RowId"
                            data-DistrictId="@row.DistrictId"
                            data-GauravId="@row.GauravId"
                            data-QuestionMasterId="@row.QuestionMasterId"
                            data-SubQuestionMasterId="@row.SubQuestionMasterId">
                            Edit
                        </button>
                        <button class="btn btn-sm btn-primary update-btn d-none"
                                data-rowid="@row.RowId"
                                data-DistrictId="@row.DistrictId"
                                data-GauravId="@row.GauravId"
                                data-QuestionMasterId="@row.QuestionMasterId"
                                data-SubQuestionMasterId="@row.SubQuestionMasterId">
                            Update
                        </button>
                        <button class="btn btn-sm btn-danger delete-btn"
                                data-rowid="@row.RowId"
                                data-DistrictId="@row.DistrictId"
                                data-GauravId="@row.GauravId"
                                data-QuestionMasterId="@row.QuestionMasterId"
                                data-SubQuestionMasterId="@row.SubQuestionMasterId">
                            Delete
                        </button>
                        <button class="btn btn-sm btn-secondary cancel-btn"
                                data-rowid="@row.RowId"
                                data-DistrictId="@row.DistrictId"
                                data-GauravId="@row.GauravId"
                                data-QuestionMasterId="@row.QuestionMasterId"
                                data-SubQuestionMasterId="@row.SubQuestionMasterId">
                            Cancel
                        </button>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>


