@model List<MO.BudgetMaster.VettingList>
@{
    ViewData["Title"] = "Work Plan Vetting";
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
    var nonce = Context.Items["CSPNonce"]?.ToString();
}
<style nonce="@nonce">
    /* Overlay */
    .manual-modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        justify-content: center;
        align-items:center;
    }

    /* Modal box */
    .manual-modal-content {
        position: relative;
        background: #fff;
        padding: 10px;
        border-radius: 6px;
        max-width: 90%;
        max-height: 90%;
        box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    }

    /* Image */
    .manual-modal-image {
        max-width: 100%;
        max-height: 80vh;
        object-fit: contain;
        display: block;
    }

    /* Close button */
    .manual-close {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
        color: #000;
        cursor: pointer;
    }

        .manual-close:hover {
            color: red;
        }

    .action-btn {
        min-width: 90px;
        text-align: center;
    }

    .modal-backdrop.fade.show {
        display: none !important;
    }

    body.modal-open.vetting-active .modal-backdrop {
        display: none !important;
    }

  

</style>

    <div class="form-group">
        <label>Garauv</label>
        <select class="form-control" name="GarauvId" id="GarauvId">
        </select>
    </div>

    <div class="form-group">
        <label>District</label>
        <select class="form-control" name="DistrictId" id="DistrictId">
        </select>
    </div>
    <hr />
<div id="vettingContainer"> <!-- table loads here pending budget list --></div>
 <hr/>
<div id="pendingListContainer"><!-- vetted list --></div>

<div id="vettedModalContainer"><!-- vetted quetion form popup --></div>

<!-- pending list budget verfiy popup -->
<div class="modal fade" id="verifyModalvetting" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">

                <input type="hidden" id="mRawId">
                <input type="hidden" id="mGauravId">
                <input type="hidden" id="mDistrictId">
                <input type="hidden" id="mSubQuestionMasterId">
                <input type="hidden" id="mQuestionMasterId">

                <div class="container-fluid">
                    <div class="row">

                        <!-- LEFT -->
                        <div class="col-md-6 border-end pe-3">
                            <h6 class="mb-3">Work Plan Submitted By District</h6>
                            <div id="readonlyData"></div>
                        </div>

                        <!-- RIGHT -->
                        <div class="col-md-6 ps-3">
                            <h6 class="mb-3">Vetted By Department</h6>
                            <div id="editableData"></div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-success" id="saveVerify">
                    Save
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    
    <script nonce="@nonce"
            src="~/custom/budgetmaster.js" asp-append-version="true"></script>
   @*  <script nonce="@nonce"
            src="~/custom/budgetmaster-vetted.js" asp-append-version="true"></script> *@
}


<script nonce="@nonce">
    $(document).on("click", "#savevettedquestions", function () {
        savevettedquestions();
    });
    $(document).on("click", ".btn-edit", function () {
        let rowId = $(this).closest("tr").data("rowid");
        editRow(rowId);
    });
    $(document).on("click", ".btn-delete", function () {
        let rowId = $(this).closest("tr").data("rowid");
        deleteRow(rowId);
    });
</script>
<script nonce="@nonce">
        $(document).on('focus', '.datepicker', function () {
        $(this).datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });
    });

        function getVal(id) {
            var el = document.getElementById(id);
            return el && el.value ? parseFloat(el.value) : 0;
        }

        function calculatePanchGaurav() {

            var totalProposed = getVal('TotalProposed');
            var nodal = getVal('NodalAmount');
            var mplad = getVal('MPLADAmount');
            var csr = getVal('CSRAmount');
            var other = getVal('OtherAmount');

            var totalExpense = nodal + mplad + csr + other;
            var panchGaurav = totalProposed - totalExpense;

            // if (panchGaurav < 0) {
            //     panchGaurav = 0;
            // }

            var pg = document.getElementById('PanchGauravAmount');
            if (pg) {
                pg.value = panchGaurav;
            }
        }


      $(document).on(
        "input change",
        "#TotalProposed,#NodalAmount,#MPLADAmount,#CSRAmount,#OtherAmount",
        calculatePanchGaurav
    );
    // for verify form calculations
    function getVal(id) {
            var el = document.getElementById(id);
            return el && el.value ? parseFloat(el.value) : 0;
        }

        function calculatePanchGaurav() {

            var totalProposed = getVal('TotalProposed');
            var nodal = getVal('NodalAmount');
            var mplad = getVal('MPLADAmount');
            var csr = getVal('CSRAmount');
            var other = getVal('OtherAmount');

            var totalExpense = nodal + mplad + csr + other;
            var panchGaurav = totalProposed - totalExpense;

            // if (panchGaurav < 0) {
            //     panchGaurav = 0;
            // }

            var pg = document.getElementById('PanchGauravAmount');
            if (pg) {
                pg.value = panchGaurav;
            }
        }


      $(document).on(
        "input change",
        "#TotalProposed,#NodalAmount,#MPLADAmount,#CSRAmount,#OtherAmount",
        calculatePanchGaurav
    );

</script>